*,
*::before,
*::after {
  --azul-escuro: #cb6ce6;
  --azul-medio: #929292;
  --azul-claro: #d7d7d7;
  --cinza-texto: #444444;
  --cinza-claro: #ececec;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--azul-claro);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

/* ESTILOS DO HEADER */

.cabecalho {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 25px;
  z-index: 2;
}

.logo {
  background-image: url(../img/cabecalho/Q_Play-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 65px;
  cursor: pointer;
}

.cabecalho__videos {
  background-image: url(../img/cabecalho/videocamera-add-svgrepo-com.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
}

/* ESTILOS DA SEÇÃO VÍDEOS */

.videos__container {
  color: rgb(0, 0, 0);
}

.mensagem {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mensagem__imagem {
  width: 30%;
}

.mensagem__titulo {
  color: var(--azul-medio);
  font-weight: bold;
  font-size: 21px;
}

.pesquisar__input {
  width: 20vw;
  height: 35px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 13px;
  font-size: 16px;
  padding: 3px 15px;
  color: var(--azul-escuro);
}

.pesquisar__botao {
  background-image: url(../img/cabecalho/search-svgrepo-com.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;

  border-left: none;
  padding: 15px 15px;
  cursor: pointer;
}

.cabecalho__pesquisar {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 834px) {
  body {
    height: 100vh;
  }
}
